.header {
  display: flex;
  align-items: center;
  gap: 16px;
}

.header h2 {
  margin-bottom: 4px;
  font-size: 32px;
  line-height: 1.2;
}

.header p {
  font-size: 18px;
  font-weight: 700;
}

.avatar {
  position: relative;
  width: 136px;
  height: 136px;
  flex-shrink: 0;
  overflow: hidden;
  border-radius: 50%;
  border: 0;
  background: var(--light-green);
  color: var(--black);
}

.avatar img {
  object-fit: cover;
}

@media screen and (max-width: 374px) {
  .avatar {
    width: 112px;
    height: 112px;
  }
  .header h2 {
    font-size: 28px;
  }
}
