.page {
  min-height: 100%;
}
.main {
  padding-top: 32px;
}
.title {
  margin-bottom: 28px;
  font-size: 40px;
  line-height: 1.2;
}

@media screen and (min-width: 768px) {
  .main {
    padding-top: 56px;
  }
  .title {
    margin-bottom: 24px;
    font-size: 48px;
  }
}

@media screen and (min-width: 1440px) {
  .main {
    padding-top: 52px;
  }
}
