.page {
  min-height: 100%;
}
.main {
  min-height: calc(100vh - 62px);
  padding-block: 32px 56px;
}
.title {
  margin-bottom: 28px;
  font-size: 40px;
  line-height: 1.2;
}

@media screen and (min-width: 768px) {
  .main {
    min-height: calc(100vh - 74px);
    padding-block: 56px 96px;
  }
  .title {
    margin-bottom: 24px;
    font-size: 48px;
  }
}

@media screen and (min-width: 1440px) {
  .main {
    padding-block: 52px 96px;
  }
}
