.page {
  min-height: 100%;
}
.main {
  padding-top: 22px;
}
.title {
  margin-bottom: 24px;
  font-weight: 700;
  font-size: 40px;
  color: #000;
}

@media screen and (min-width: 768px) {
  .main {
    padding-top: 56px;
  }
  .title {
    margin-bottom: 24px;
    font-size: 48px;
  }
}

@media screen and (min-width: 1440px) {
  .main {
    padding-top: 52px;
  }
}
