.tabs {
  display: flex;
  gap: 38px;
  margin-top: 28px;
}
.tabs a {
  display: inline-flex;
  gap: 4px;
  padding-bottom: 6px;
  color: var(--green-darker);
  font-size: 16px;
  font-weight: 700;
}
.tabs .active {
  border-bottom: 1px solid var(--green-darker);
}

@media screen and (min-width: 768px) {
  .tabs {
    margin-top: 24px;
  }
}
