.main {
  width: 100%;
  flex: 1;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--white);
  box-sizing: border-box;
}

.loginWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
